.category {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: $section;

  &__head {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 30px;

    text-align: center;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__discount {
    padding: 15px;
    padding-left: 25px;
    margin-left: 25px;
    min-width: 155px;

    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    color: $red;

    background-image: url(../img/labe.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__list {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &--gray {
    background-color: $section-gray;
  }
}

@media (min-width: $tablet-width) {
  .category {
    &__head {
      flex-direction: row;
      align-items: baseline;
    }

    &__list {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
