.page-header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;

  padding-top: 40px;

  &__menu {
    display: flex;
    justify-content: flex-start;
  }

  &__submenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: scroll;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__chat {
    display: flex;
    justify-content: flex-end;
  }
}
