.preview {
  padding-top: 180px;

  background-image: url(../img/background.jpg);

  color: white;

  &__head {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;

    &-box {
      position: relative;

      padding-top: 40px;
      padding-left: 15px;
      padding-right: 15px;
      min-height: 205px;

      background-image: url(../img/black_middle.png);
      background-repeat: repeat-x;
      background-size: contain;

      text-align: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -49px;

        display: block;
        width: 50px;
        height: 100%;

        background-image: url(../img/black_left.png);
        background-repeat: no-repeat;
        background-size: cover;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -69px;

        display: block;
        width: 70px;
        height: 100%;

        background-image: url(../img/black_right.png);
        background-repeat: no-repeat;
        background-size: cover;
      }

    }
  }

  &__timer {
    margin-bottom: 90px;
  }

  &__title {
    margin-bottom: 39px;

    font-size: 62px;
    line-height: 63px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 32px;
    line-height: 63px;
    text-transform: uppercase;
  }

  &__discount {
    margin-bottom: 120px;

    font-size: 62px;
    line-height: 63px;
    text-transform: uppercase;
    text-align: center;
    color: $red;
  }

  &__info {
    margin-bottom: 80px;
    
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }

  &__category {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
