.submenu-list {
  @include reset-list;
  background-color: white;

  &__item {
    font-size: 22px;
    line-height: 40px;
    border-top: 1px solid $border-submenu;

    &:last-child {
      border-bottom: 1px solid $border-submenu;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 25px 10px 25px 10px;
    width: 100%;

    color: $gray;
    text-decoration: none;

    &:hover {
      color: $gray;
      text-decoration: none;
    }

    &::after {
      content: "";
      margin-left: auto;
      display: block;
      width: 12px;
      height: 20px;

      background-image: url(../img/menu_arrow.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media (min-width: $mobile-w-width) {
  .submenu-list {
    &__item {
      font-size: 26px;
      line-height: 46px;
    }

    &__link {
        padding: 25px 10px 30px 10px;
      }
  }
}
